# Ejercicio 1

### *Descarga el data set Airlines Delay: Airline on-time statistics and delay causes i cargalo en un pandas Dataframe. Explora los datos que contiene, y quedate unicamente con las columnas que consideres relevantes*

In [2]:
import pandas as pd

df = pd.read_csv("DelayedFlights.csv") # cargo el archivo csv
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

#### Columnas a usar

In [5]:
df = df[["Year","Month","DayofMonth","DepTime","CRSDepTime","ArrTime","CRSArrTime","UniqueCarrier","AirTime","ArrDelay","DepDelay","Distance","Origin","Dest"]]
df.head()

,Year,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,AirTime,ArrDelay,DepDelay,Distance,Origin,Dest
0,2008,1,3,2003.0,1955,2211.0,2225,WN,116.0,-14.0,8.0,810,IAD,TPA
1,2008,1,3,754.0,735,1002.0,1000,WN,113.0,2.0,19.0,810,IAD,TPA
2,2008,1,3,628.0,620,804.0,750,WN,76.0,14.0,8.0,515,IND,BWI
3,2008,1,3,1829.0,1755,1959.0,1925,WN,77.0,34.0,34.0,515,IND,BWI
4,2008,1,3,1940.0,1915,2121.0,2110,WN,87.0,11.0,25.0,688,IND,JAX

# Ejercicio 2

### *Haz un informe completo del data set:*

#### *Resume estadisticamente las columnas de interes*

In [6]:
df.describe()

,Year,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,AirTime,ArrDelay,DepDelay,Distance
count,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06
mean,2008.0,6.111106e+00,1.575347e+01,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02
std,0.0,3.482546e+00,8.776272e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01
25%,2008.0,3.000000e+00,8.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02
50%,2008.0,6.000000e+00,1.600000e+01,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02
75%,2008.0,9.000000e+00,2.300000e+01,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02
max,2008.0,1.200000e+01,3.100000e+01,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03

#### *Encuentra cuantos datos faltantes hay por columna*

In [7]:
pd.DataFrame(df.isnull().sum())

                  0
Year              0
Month             0
DayofMonth        0
DepTime           0
CRSDepTime        0
ArrTime        7110
CRSArrTime        0
UniqueCarrier     0
AirTime        8387
ArrDelay       8387
DepDelay          0
Distance          0
Origin            0
Dest              0

### *Crea columnas nuevas (velocidad media de vuelo, si ha llegado tarde o no...)*

In [8]:
df['AvgSpeed'] = round(df['Distance']/(df['AirTime']/60)) # velocidad media
df['ArrLate'] = df['ArrDelay']>0 # si ha llegado tarde o no
df.head()

,Year,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,AirTime,ArrDelay,DepDelay,Distance,Origin,Dest,AvgSpeed,ArrLate
0,2008,1,3,2003.0,1955,2211.0,2225,WN,116.0,-14.0,8.0,810,IAD,TPA,419.0,False
1,2008,1,3,754.0,735,1002.0,1000,WN,113.0,2.0,19.0,810,IAD,TPA,430.0,True
2,2008,1,3,628.0,620,804.0,750,WN,76.0,14.0,8.0,515,IND,BWI,407.0,True
3,2008,1,3,1829.0,1755,1959.0,1925,WN,77.0,34.0,34.0,515,IND,BWI,401.0,True
4,2008,1,3,1940.0,1915,2121.0,2110,WN,87.0,11.0,25.0,688,IND,JAX,474.0,True

### *Tabla las aerolineas con mas retrasos acumulados*

In [9]:
df2 = df.groupby("UniqueCarrier").ArrLate.sum("True") # agrupo las aerolineas y sumo los retrasos totales
df2 = df2.sort_values(ascending=False) # ordeno de manera descendente
df2.head(10) # muestro las 10 aerolineas con mas retrasos

UniqueCarrier
WN    324717
AA    172197
MQ    130647
UA    123989
OO    121942
DL    100923
XE     94313
CO     83646
US     83262
EV     75170
Name: ArrLate, dtype: int64

# Ejercicio 3

### *Exporta el data set limpio i las nuevas columnas a Excel*

In [10]:
df.to_excel("DelayedFlights2.xlsx")

ValueError: This sheet is too large! Your sheet size is: 1936758, 16 Max sheet size is: 1048576, 16384

In [11]:
# exporto en csv para evitar el error
df.to_csv("DelayedFlights2.csv")